<!DOCTYPE html>
<html>
<head>
<title>price predict</title>

</head>
<body style="background-image:url('https://github.com/srhsoumya/real-estate/raw/master/toa-heftiba-4t8_1MKvPd8-unsplash.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;">

<h4></h4>
<form   action="{{url_for('predict')}}"method="POST" style="margin-left:36%;">
<table  border="2px" cellspacing="4px" cellpadding="4px" width="300px" style="background-color:#1A5276;color:white;text-align:center;margin-top:10%;">

<tr><td>bathroom</td> <td><select name="bath">
<option>1</option>
<option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option>
<option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option>








</select></td></tr>

<tr><td>bhk</td> <td><select name="bhk"><option>1</option>
<option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option>
<option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option></select></td></tr>

<tr><td>Total area</td> <td><input name="area" type="text" placeholder="Sq.ft" style="text-align:center;color:red;"/></td></tr>

<tr><td>location</td><td><select name="locat" ><option> Devarachikkanahalli</option>
<option>1st Block Jayanagar</option>
<option>1st Phase JP Nagar</option>
<option>2nd Phase Judicial Layout</option>
<option>2nd Stage Nagarbhavi</option>
<option>5th Phase JP Nagar</option>
<option>6th Phase JP Nagar</option>
<option>7th Phase JP Nagar</option>
<option>8th Phase JP Nagar</option>
<option>9th Phase JP Nagar</option>
<option>AECS Layout</option>
<option>Abbigere</option>
<option>Akshaya Nagar</option>
<option>Ambalipura</option>
<option>Ambedkar Nagar</option>
<option>Amruthahalli</option>
<option>Anandapura</option>
<option>Ananth Nagar</option>
<option>Anekal</option>
<option>Anjanapura</option>
<option>Ardendale</option>
<option>Arekere</option>
<option>Attibele</option>
<option>BEML Layout</option>
<option>BTM 2nd Stage</option>
<option>BTM Layout</option>
<option>Babusapalaya</option>
<option>Badavala Nagar</option>
<option>Balagere</option>
<option>Banashankari</option>
<option>Banashankari Stage II</option>
<option>Banashankari Stage III</option>
<option>Banashankari Stage V</option>
<option>Banashankari Stage VI</option>
<option>Banaswadi</option>
<option>Banjara Layout</option>
<option>Bannerghatta</option>
<option>Bannerghatta Road</option>
<option>Basavangudi</option>
<option>Basaveshwara Nagar</option>
<option>Battarahalli</option>
<option>Begur</option>
<option>Begur Road</option>
<option>Bellandur</option>
<option>Benson Town</option>
<option>Bharathi Nagar</option>
<option>Bhoganhalli</option>
<option>Billekahalli</option>
<option>Binny Pete</option>
<option>Bisuvanahalli</option>
<option>Bommanahalli</option>
<option>Bommasandra</option>
<option>Bommasandra Industrial Area</option>
<option>Bommenahalli</option>
<option>Brookefield</option>
<option>Budigere</option>
<option>CV Raman Nagar</option>
<option>Chamrajpet</option>
<option>Chandapura</option>
<option>Channasandra</option>
<option>Chikka Tirupathi</option>
<option>Chikkabanavar</option>
<option>Chikkalasandra</option>
<option>Choodasandra</option>
<option>Cooke Town</option>
<option>Cox Town</option>
<option>Cunningham Road</option>
<option>Dasanapura</option>
<option>Dasarahalli</option>
<option>Devanahalli</option>
<option>Dodda Nekkundi</option>
<option>Doddaballapur</option>
<option>Doddakallasandra</option>
<option>Doddathoguru</option>
<option>Domlur</option>
<option>Dommasandra</option>
<option>EPIP Zone</option>
<option>Electronic City</option>
<option>Electronic City Phase II</option>
<option>Electronics City Phase 1</option>
<option>Frazer Town</option>
<option>GM Palaya</option>
<option>Garudachar Palya</option>
<option>Giri Nagar</option>
<option>Gollarapalya Hosahalli</option>
<option>Gottigere</option>
<option>Green Glen Layout</option>
<option>Gubbalala</option>
<option>Gunjur</option>
<option>HBR Layout</option>
<option>HRBR Layout</option>
<option>HSR Layout</option>
<option>Haralur Road</option>
<option>Harlur</option>
<option>Hebbal</option>
<option>Hebbal Kempapura</option>
<option>Hegde Nagar</option>
<option>Hennur</option>
<option>Hennur Road</option>
<option>Hoodi</option>
<option>Horamavu Agara</option>
<option>Horamavu Banaswadi</option>
<option>Hormavu</option>
<option>Hosa Road</option>
<option>Hosakerehalli</option>
<option>Hoskote</option>
<option>Hosur Road</option>
<option>Hulimavu</option>
<option>ISRO Layout</option>
<option>ITPL</option>
<option>Iblur Village</option>
<option>Indira Nagar</option>
<option>JP Nagar</option>
<option>Jakkur</option>
<option>Jalahalli</option>
<option>Jalahalli East</option>
<option>Jigani</option>
<option>Judicial Layout</option>
<option>KR Puram</option>
<option>Kadubeesanahalli</option>
<option>Kadugodi</option>
<option>Kaggadasapura</option>
<option>Kaggalipura</option>
<option>Kaikondrahalli</option>
<option>Kalena Agrahara</option>
<option>Kalyan nagar</option>
<option>Kambipura</option>
<option>Kammanahalli</option>
<option>Kammasandra</option>
<option>Kanakapura</option>
<option>Kanakpura Road</option>
<option>Kannamangala</option>
<option>Karuna Nagar</option>
<option>Kasavanhalli</option>
<option>Kasturi Nagar</option>
<option>Kathriguppe</option>
<option>Kaval Byrasandra</option>
<option>Kenchenahalli</option>
<option>Kengeri</option>
<option>Kengeri Satellite Town</option>
<option>Kereguddadahalli</option>
<option>Kodichikkanahalli</option>
<option>Kodigehaali</option>
<option>Kodihalli</option>
<option>Kogilu</option>
<option>Konanakunte</option>
<option>Koramangala</option>
<option>Kothannur</option>
<option>Kothanur</option>
<option>Kudlu</option>
<option>Kudlu Gate</option>
<option>Kumaraswami Layout</option>
<option>Kundalahalli</option>
<option>LB Shastri Nagar</option>
<option>Laggere</option>
<option>Lakshminarayana Pura</option>
<option>Lingadheeranahalli</option>
<option>Magadi Road</option>
<option>Mahadevpura</option>
<option>Mahalakshmi Layout</option>
<option>Mallasandra</option>
<option>Malleshpalya</option>
<option>Malleshwaram</option>
<option>Marathahalli</option>
<option>Margondanahalli</option>
<option>Marsur</option>
<option>Mico Layout</option>
<option>Munnekollal</option>
<option>Murugeshpalya</option>
<option>Mysore Road</option>
<option>NGR Layout</option>
<option>NRI Layout</option>
<option>Nagarbhavi</option>
<option>Nagasandra</option>
<option>Nagavara</option>
<option>Nagavarapalya</option>
<option>Narayanapura</option>
<option>Neeladri Nagar</option>
<option>OMBR Layout</option>
<option>Old Airport Road</option>
<option>Old Madras Road</option>
<option>Padmanabhanagar</option>
<option>Pai Layout</option>
<option>Panathur</option>
<option>Parappana Agrahara</option>
<option>Pattandur Agrahara</option>
<option>Poorna Pragna Layout</option>
<option>Prithvi Layout</option>
<option>R.T. Nagar</option>
<option>Rachenahalli</option>
<option>Raja Rajeshwari Nagar</option>
<option>Rajaji Nagar</option>
<option>Rajiv Nagar</option>
<option>Ramagondanahalli</option>
<option>Ramamurthy Nagar</option>
<option>Rayasandra</option>
<option>Sahakara Nagar</option>
<option>Sanjay nagar</option>
<option>Sarakki Nagar</option>
<option>Sarjapur</option>
<option>Sarjapur  Road</option>
<option>Sarjapura - Attibele Road</option>
<option>Sector 2 HSR Layout</option>
<option>Sector 7 HSR Layout</option>
<option>Seegehalli</option>
<option>Shampura</option>
<option>Shivaji Nagar</option>
<option>Singasandra</option>
<option>Somasundara Palya</option>
<option>Sompura</option>
<option>Sonnenahalli</option>
<option>Subramanyapura</option>
<option>Sultan Palaya</option>
<option>TC Palaya</option>
<option>Talaghattapura</option>
<option>Thanisandra</option>
<option>Thigalarapalya</option>
<option>Thubarahalli</option>
<option>Thyagaraja Nagar</option>
<option>Tindlu</option>
<option>Tumkur Road</option>
<option>Ulsoor</option>
<option>Uttarahalli</option>
<option>Varthur</option>
<option>Varthur Road</option>
<option>Vasanthapura</option>
<option>Vidyaranyapura</option>
<option>Vijayanagar</option>
<option>Vishveshwarya Layout</option>
<option>Vishwapriya Layout</option>
<option>Vittasandra</option>
<option>Whitefield</option>
<option>Yelachenahalli</option>
<option>Yelahanka</option>
<option>Yelahanka New Town</option>
<option>Yelenahalli</option>
<option>Yeshwanthpur</option></select></td></tr>

<tr><td colspan='2'><input type="submit" value="Predict Price"/></td></tr>

</table>

</form>

<h4 style="text-align:center;color:pink;background-color:yellow;">
{{pre_text}}
</h4>




</body>




</html>
